h1 {
  display: inline;
  font-weight: lighter;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #e0e0e0;
  font-size: 32px;
  width: 300px;
  text-align: center;
  color: #3ae7ff;
}

/*input[type='text'] {
  font-family 'Montserrat', sans-serif;
}*/

button {
  height: 34px;
  width: 70px;
  font-size: 18px;
  background: transparent;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
}