span {
  display: block;
}

h4 {
  display: inline;
  font-weight: lighter;
  color: #e0e0e0;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #e0e0e0;
  font-size: 24px;
  width: 250px;
  text-align: center;
  color: #6feae6;
  height: 28px;
}

input::-webkit-input-placeholder {
  color: #a0b3c5;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

p {
  color: #e0e0e0;
  position: relative;
  margin-left: 175px;
}