span {
  display: block;
}

h4 {
  display: inline;
  font-weight: lighter;
  color: #e0e0e0;
  margin: 0px 5px;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #e0e0e0;
  font-size: 24px;
  width: 250px;
  text-align: center;
  color: #6feae6;
  height: 28px;
  margin: 0px 5px;
}

input::-webkit-input-placeholder {
  color: #a0b3c5;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

button {
  outline: none;
  background: transparent;
  border: 2px #e0e0e0 solid;
  color: #e0e0e0;
  width: 56px;
  margin: 0px 5px;
}


@media (max-width: 460px) {
  span {
    text-align: center;
  }

  input {
    display: block;
    margin: 10px 0px;
    width: 250px;
  }
}
