body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background: #814dfb;
}

h1, h2, h3, h4, h5, h6, p, li {
  color: #e0e0e0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
